.induk {
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    .wrapper-induk {
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        .team-panel {
            width:24%;
            background-color:#01430e;
            color:#fff;
            .team-img {
                width:100%;
                height: 200px;
                img {
                    width:100%;
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .team-name {
                padding:20px;
                .text {
                    text-align: center;
                    font-family: 'Play', sans-serif;
                }
            }
        }
    }
}